.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 10px;
}

.expired-row {
  background-color: #FE6F6F !important;
}

.filter {
    margin-top: 25px;
    margin-left: 10px;
    text-align: left;
}

.filter-row {
    align-items: center;
    display: flex;
}

.margin {
    margin: 1%;
}


.more-than-two-expiration-row {
  background-color: #9BFF84 !important;
  color: black;
}

.near-expiration-row {
  background-color: #FFE879 !important;
  color: black;
}

.stock-high {
    background-color: white;
}

.stock-mid {
    background-color: #FFC779;
}

.stock-low {
    background-color: #FE6F6F;
}

.strike-through-row {
    text-decoration: line-through;
    color: gray;
}