.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 10px;
}

.filter {
    margin-top: 25px;
    margin-left: 10px;
    text-align: left;
}

.filter-row {
    align-items: center;
    display: flex;
}

.margin {
    margin: 1%;
}

.